.game-over {
  text-align: center;
  background: #ab4967;
  margin: 20% 10%;
  padding: 10%;
  border-radius: 2em;
}
.play-button,
.home-button {
  margin: 2em;
  background: tomato;
  color: white;
  height: 2em;
  width: 6em;
  border-radius: 1em;
}
#score {
  color: white;
}
#congrats {
  color: darkgreen;
}
