@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body {
  background-color: #011502;
  color: #d9d0de;
  font-family: "PT Sans", sans-serif;
}
